root = true

[*]
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[Makefile]
indent_style = tab

[*.patch]
trim_trailing_whitespace = false

[*.md]
trim_trailing_whitespace = false

[*.html]
trim_trailing_whitespace = false
